<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
  
        <header> 
            <h1> Moped Storage </h1>
        </header>
        
   
    <main>
        <h2>All Mopeds in storage </h2>
        <table>
            <thead>
                <tr>
                    <th>MopedId</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Topspeed</th>
                    <th>Year of model</th>
                </tr>
            </thead>
            <tbody>
                <!-- we can use this js code to get all person -->
                <% result.forEach(mope =>{ %>
                    <tr>
                        <td><%= mope.mopedId %></td>
                        <td><%= mope.name %></td>
                        <td><%= mope.rating %></td>
                        <td><%= mope.topspeed %></td>
                        <td><%= mope.modelYear %></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <div class="mbtn">
            <a href="/"><button class="btn">Menu</button></a>
        </div>
    </main>
    <div class="footerWrapper">
        <footer>
            <div class="footerWrapper">
                
                <div class="icons">
                    <a href="https://www.linkedin.com/in/femi-adesola-oyinloye-106454145/" target="_blank"  class="linkedin">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                
                        <a href="#1" class="facebook">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>

                        <a href="https://github.com/FemiAdesola" target="_blank"  class="github">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                   
                    <p>Femi Adesola &copy; 2021 </p>
                    </div>
        </footer>
    </div>
</body>
</html>