<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Result</title>
</head>
<body>
    <header> 
        <h1> Moped Storage </h1>
    </header>
    <main>
    <div class="singleResult">
        <h1>Moped Information</h1>
      
    <p>MopedId: <span><%= result.mopedId %></span></p>
    <p>Name:<span><%= result.name %></span> </p>
    <p>Rating: <span><%= result.rating %></span></p>
    <p>Topspeed:<span><%= result.topspeed %></span> </p>
    <p>Year of model: <span><%= result.modelYear %></span></p>

    <div class="mbtn">
        <a href="/"><button class="btn">Menu</button></a>
    </div>

    </div>
    </main>

    <div class="footerWrapper">
        <footer class="footerWrapper">
            <div >
                
                <div class="icons">
                    <a href="https://www.linkedin.com/in/femi-adesola-oyinloye-106454145/" target="_blank" rel="noreferrer" class="linkedin">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                
                        <a href="#1" class="facebook">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>

                        <a href="https://github.com/FemiAdesola" target="_blank" rel="noreferrer" class="github">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                   
                    <p>Femi Adesola &copy; 2021 </p>
                    </div>
        </footer>
    </div>
</body>
</html>